/* Reset */
body {
    margin: 0;
}

/* Imports */

/* Global Styles */
h1 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 600 !important;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    transition: all 0.5s;
}

/* Hero */
div.hero-container {
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./images/office.jpg");
    background-color: black;
    background-size: cover;
    display: flex;
    z-index: 1;
    padding: 0;
}

div.hero-container div.blur {
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

div.hero-container>div.row {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    z-index: 3;
    margin: 0;
}

div.hero-container div.hero-text {
    color: black;
    background-color: white;
    padding: 30px 8vw 30px 30px;
    height: 100vh;
    display: flex;
    align-items: center;
}

div.hero-container div.hero-text h1 {
    font-size: 3rem;
    line-height: 1;
}

div.hero-container div.hero-text span.sub-heading {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

div.hero-container div.hero-text p {
    margin-top: 35px;
}

div.hero-container div.hero-text a.work-link {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #dd7826 !important;
}

div.hero-container div.hero-text a.work-link:hover {
    color: #955927 !important;
}

div.hero-container div.hero-image {
    align-self: end;
    display: flex;
    justify-content: center;
}

div.hero-container div.hero-image img {
    max-height: 85vh;
    max-width: 45vw;
    filter: drop-shadow(10px 10px 20px black);
}

@media screen and (max-width: 1075px) {

    div.hero-container div.hero-text span.sub-heading {
        border-bottom: none;
    }
    
    div.hero-container div.hero-text p {
        margin-top: 15px;
    }

    div.hero-container div.hero-text {
        padding: 30px;
    }
}

@media screen and (max-width: 950px) {

    div.hero-container div.hero-image img {
        width: 45vw;
    }

}

@media screen and (max-width: 767px) {

    div.hero-container {
        background: white;
        overflow: auto;
        max-height: none;
    }

    div.hero-container div.blur {
        display: none;
    }

    div.hero-container div.row {
        min-height: fit-content;
    }

    div.hero-container div.hero-image {
        display: none;
    }

    div.hero-container div.hero-text {
        height: fit-content;
    }

}

@media screen and (orientation: portrait) and (min-width: 768px) and  {
    
}