/* Reset */
body {
    margin: 0;
    position: relative;
}

/* Imports */

/* Global Styles */
h1 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 600 !important;
}

h2 {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-weight: 500 !important;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    transition: all 0.5s;
}

/** Socials **/
div.socials-opener {
    z-index: 100;
    position: fixed;
    bottom: 14px;
    right: -20px;
    height: 50px;
    width: 70px;
    padding-right: 20px;
    background-color: #1b263b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color ease-in-out 0.5s, right linear 0.5s;
}

div.socials-opener:hover {
    background-color: #dd7826;
}

div.socials-opener svg {
    fill: white;
    height: 30px;
}

div.socials-opener.right {
    right: calc(235px - 21px);
}

div.socials {
    position: absolute;
    z-index: 100;
    position: fixed;
    bottom: 14px;
    right: -235px;
    width: 235px;
    background-color: #1b263b;
    color: white;
    padding: 30px;
    border-top-left-radius: 5px;
    transition: right linear 0.5s 0s;
}

div.socials.right {
    right: -1px !important;
}

div.socials span {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

div.socials hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

div.socials a {
    color: white;
    text-decoration: none;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    display: block;
}

div.socials a:hover {
    color: #dd7826
}

@media screen and (max-width: 767px) {
    div.socials, div.socials-opener {
        bottom: 50px
    }
}

/* Hero */
div.hero-container {
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./images/office.jpg");
    background-color: black;
    background-size: cover;
    display: flex;
    z-index: 1;
    padding: 0;
}

div.hero-container div.blur {
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

div.hero-container>div.row {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    z-index: 3;
    margin: 0;
}

div.hero-container div.hero-text {
    color: black;
    background-color: white;
    padding: 30px 8vw 30px 30px;
    height: 100vh;
    display: flex;
    align-items: center;
}

div.hero-container div.hero-text h1 {
    font-size: 3rem;
    line-height: 1;
}

div.hero-container div.hero-text span.sub-heading {
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

div.hero-container div.hero-text p {
    margin-top: 35px;
}

div.hero-container div.hero-text a.work-link {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #dd7826 !important;
}

div.hero-container div.hero-text a.work-link:hover {
    color: #955927 !important;
}

div.hero-container div.hero-image {
    align-self: end;
    display: flex;
    justify-content: center;
}

div.hero-container div.hero-image img {
    max-height: 85vh;
    max-width: 45vw;
    filter: drop-shadow(10px 10px 20px black);
}

/** Wide yet short screens: Text folds under do to set height. Change for min? */

@media screen and (max-width: 1075px) {

    div.hero-container div.hero-text span.sub-heading {
        border-bottom: none;
    }
    
    div.hero-container div.hero-text p {
        margin-top: 15px;
    }

    div.hero-container div.hero-text {
        padding: 30px;
        padding-left: 42px;
    }
}

@media screen and (max-width: 950px) {

    div.hero-container div.hero-image img {
        width: 45vw;
    }

}

@media screen and (max-width: 767px) {

    div.hero-container {
        background: white;
        overflow: auto;
        max-height: none;
    }

    div.hero-container div.blur {
        display: none;
    }

    div.hero-container div.row {
        min-height: fit-content;
    }

    div.hero-container div.hero-image {
        display: none;
    }

    div.hero-container div.hero-text {
        height: fit-content;
    }

}

/** Portfolio **/

div.portfolio {
    position: relative;
    width: 100%;
    padding: 0px;
}

div.portfolio div.portfolio-entry {
    padding: 5vh 8vw;
    margin: 0;
}

div.portfolio div.portfolio-text h2 {
    font-size: 2.5rem;
    line-height: 1;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.25);
}

div.portfolio div.skydive-ia {
    background-color: #f26523;
}

div.portfolio div.ozegovic-homes {
    background-color: #f99d1b;
}

div.portfolio div.frontier-lawns {
    background-color: #890b04;
}

div.portfolio div.catt {
    background-color: #4c2a65;
}

div.portfolio div.portfolio-text {
    z-index: 10;
    color: white;
}

div.portfolio div.portfolio-image img {
    width: 100%;
    position: relative;
    box-shadow: none;
    transition: box-shadow 0.5s ease-in-out;
    cursor: pointer;
}

div.portfolio div.portfolio-image img:hover {
    /* Fix This Box Shadow. Looks Bad Man */
    box-shadow: 0px 0px 5px 1px #000;
}

div.portfolio div.portfolio-text span.date {
    font-family: neue-haas-grotesk-display, sans-serif;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

div.portfolio div.portfolio-text a.work-link {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white !important;
}

div.portfolio div.portfolio-text a.work-link:hover {
    color: rgba(0, 0, 0, 0.801) !important;
}

@media screen and (max-width: 1075px) {

    div.portfolio div.portfolio-entry {
        padding: 5vh 30px;
    }

    div.portfolio div.portfolio-text img {
        padding-bottom: 30px;
    }
}